DATABASE_URL=postgresql://postgres.xxx:xxx@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres?sslmode=require
NEXT_PUBLIC_SUPABASE_URL=https://xxx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxx
DISCORD_CLIENT_ID=1516064597638123730
DISCORD_CLIENT_SECRET=xxx
DISCORD_TOKEN=xxx
DISCORD_GUILD_ID=xxx
NEXT_PUBLIC_SITE_URL=http://localhost:3000
SESSION_SECRET=random-32-char-string
